* {
  text-transform: none;
  letter-spacing: 0px;
}

.input {
  border-radius: 0px;
}
.form-group {
  width: 242px;
  margin: 0px 8px;
}

.form-label {
  font-size: 10px;
  height: 13px;
  text-transform: capitalize;
  font-weight: bold;
  color: #4c4c4c;
}
.header-label-basic {
  width: 82px;
  height: 17px;
  font-size: 14px;
}
.header-label-accident {
  width: 103px;
  height: 17px;
  font-size: 14px;
}
.claimHeader {
  background-color: #f7f7f7;
  border: 1px solid #efeef4;
  display: flex;
  align-items: center;
}
.claimNumber {
  color: #10242b;
  font-size: 16px;
  font-weight: bold;
}
.newClaim {
  color: #d1121b;
  font-size: 16px;
  font-weight: bold;
}
.viewDetails {
  color: #23b1a9;
  font-size: 12px;
  font-weight: 500;
  height: 14px;
}
.pageHeader {
  color: #10242b;
  font-size: 16px;
}

#activeBtn {
  background-color: #1ebbd9;
  color: #ffffff;
  font-size: 16px;
}
#notActiveBtn {
  background-color: #ffffff;
  border: 1px solid #b5c1c4;
  color: #10242b;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: bold;
}
/* dropdown */
.container1 {
  margin-bottom: 1px;
  border: 0.1px solid #c1c8cc;
}

.header {
  display: flex;
  align-items: center;
  background-color: #1ebbd9;
  color: #ffffff;
  padding: 20px;
  height: 36px;
}

.btnDanger {
  box-shadow: 0px 2px 2px #d1121b3d;
  border: 1px solid #d1121b;
  border-radius: 4px;
  font-size: 14px;
  background: #ffffff;
}
.icon {
  height: 18px;
  width: 18px;
}
.btnSuccess {
  font-size: 14px;
  box-shadow: 0px 3px 4px #23b1a93d;
  border-radius: 4px;
}

.textLabel {
  font-size: 10px;
}

/* input icons */
.iconstyle {
  border-right: 1px solid #c1c8cc;
  background-color: #f7f7f7;
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-left: -12px;
}

.required {
  font-size: 10px;
  color: #d1121b;
  font-weight: bold;
  height: 13px;
}

/* table */
.v-data-table-header tr {
  background-color: #23b1a9;
}
table tr th,
table tr td {
  border: 1px solid #c1c8cc;
  height: 20px;
}
